.mobile_wrap {
  max-width: 480px;
  width: 100%;
  height: 700vh;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

header,
.sec_2_title {
  padding: 0 20px;
}

header,
.section_1,
.section_2 {
  font-family: "Noto Sans KR", sans-serif;
}
