.mobile_wrap {
  max-width: 480px;
  width: 100%;
  /* height: 700vh; */
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  /* position: relative; */
  border-radius: 20px;
  overflow: hidden;
}

header,
.sec_2_title,
.add_con_wrap,
.sec_3_write,
.sec_6_con_wrap {
  padding: 0 20px;
}

header,
.section_1,
.section_2,
.con_4_title,
.sec_5_title h3,
.sec_6_title h3,
.news_title_wrap,
.sec_6_btn_box a,
.footer_con p,
.footer_copy p {
  font-family: "Noto Sans KR", sans-serif;
}

/* .fix_section {
  position: fixed;
  z-index: 50;
  max-width: 480px;
  height: 5000px;
}

.section_4,
.section_5,
.section_6,
footer {
  position: relative;
  top: 2258.88px;
  z-index: 999;
  display: none;
} */
