.mobile_wrap {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

header{
	padding: 0 20px;
}