@import url(reset.css);
@import url(common.css);

header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.section_1{
    position: relative;
}

.sec_1_con{
    width: 93%;
    height: 60%;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 17px;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}

.con_1{
   padding: 15px;
}

.con_1_1{
    /* padding: 22px; */
    /* width: 100%; */
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    opacity: 0.5;
}

.con_1_1 p{
    font-size: 14px;
    font-weight: 400;
    color: #b9b9b9;
}