@import url(reset.css);
@import url(common.css);

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section_1 {
  width: 100%;
  height: 600px;
  position: relative;
}

.sec_1_con {
  width: 93%;
  height: 63%;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 17px;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.con_1 {
  height: 100%;
  padding: 15px;
}

.con_1_1 {
  padding: 18px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(217, 217, 217, 0.5);
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 15px;
}

.con_1_1 .left{
  display: flex;
  align-items: center;
  gap: 14px; /* 달력 아이콘과 글자 간격 조절 */
}

.con_1_1 p {
  font-size: 14px;
  font-weight: 400;
  color: #b9b9b9;

}

.sec_1_btn{
  /* padding-top: 15px; */
  display: flex;
  /* background-color: aqua; */
  gap: 15px;
}

.sec_1_btn .btn_1{
  flex: 1;
  height: 57px;
  border-radius: 10px;
  background-color: #0f3e97;
  font-size: 14px;
  font-weight: 600;
    border: unset;
  /* color: white; */
}
.sec_1_btn .btn_2{
  flex: 1;
  height: 57px;
  border-radius: 10px;
  background-color: #ffbe3d;
  font-size: 14px;
  font-weight: 600;
  border: unset;
  /* color: white; */
}

.schedule a,
.agency a{
  color: white;
}


/* 섹션1하는중 */

.section_2 {
  padding-top: 200px;
}

.sec_2_title h3 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 35px;
  color: #0a1d36;
}

.travel_con {
  margin-top: 40px;
}

.travel_box {
  width: 66.41%;
  height: 100%;
  border: 0.5px solid #d9d9d9;
  border-radius: 16px;
}

.travel_write {
  padding: 15px 25px 15px 15px;
}

.travel_write p {
  font-size: 10px;
  font-weight: 500;
  color: #b9b9b9;
  letter-spacing: -1px;
}

.travel_write h3 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 26px;
}

.travel_write h4 {
  font-size: 12px;
  font-weight: 500;
  color: #939393;
  padding-top: 10px;
  letter-spacing: -1px;
  line-height: 19px;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 17px;
} */

/* 섹션2 그림자가 걸림 */

.section_3 {
  position: relative;
  height: 100vh;
  padding-top: 80px;
  /* padding-bottom: 80px; */
}

.sec_3_write {
  position: absolute;
  /* bottom: 200px; */
  left: 0;
  padding-bottom: 80px;
}

.sec_3_write h4 {
  font-family: "Inknut Antiqua", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  color: #0a1d36;
}

.line {
  width: 3px; /* 선 두께 */
  height: 56px; /* 선 길이 */
  background: #0a1d36; /* 선 색상 */
  margin: 12px 0; /* 상하 여백 */
  border-radius: 2px;
}

.sec_3_write p {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: #0a1d36;
  opacity: 0.5;
}

/* 섹션3끝 */

.section_4 {
  padding-top: 80px;
  position: relative;
  width: 100%;
  height: 1500px;
  background: url(../img/section_4/background.png) no-repeat center / cover;
}

.sec_4_title {
  width: 100%;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  color: #06162b;
}

.sec_4_con_wrap {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.lines img{
  width: 48px;
  height: auto;
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
}

.sec_4_cons img {
  width: 169px;
  height: auto;
}

.sec_4_con{
  position: relative;
}

.con_4_1 {
  position: absolute;
  top: 264px;
  left: 8px;
}

.title_4_1{
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);

}

.con_4_title h4{
  width: 120px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -1px;
  line-height: 16px;
  color: white;
}

.con_4_2 {
  position: absolute;
  top: 490px;
  right: 8px;
}

.title_4_2{
  position: absolute;
  top: 155px;
  left: 50%;
  transform: translateX(-50%);

}

.con_4_3 {
  position: absolute;
  top: 700px;
  left: 8px;
}

.con_4_4 {
  position: absolute;
  top: 920px;
  right: 8px;
}

.con_4_5 {
  position: absolute;
  top: 1120px;
  left: 8px;
}

@media (min-width: 480px) {
  .sec_4_cons img {
    width: 200px;
    height: auto;
  }

  .con_4_1 {
    position: absolute;
    top: 264px;
    left: 15px;
  }

  .title_4_1{
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);

  }

  .con_4_2 {
    position: absolute;
    top: 490px;
    right: 15px;
  }

  .title_4_2{
    position: absolute;
    top: 185px;
    left: 50%;
    transform: translateX(-50%);
  }

  .con_4_3 {
    position: absolute;
    top: 700px;
    left: 15px;
  }

  .con_4_4 {
    position: absolute;
    top: 920px;
    right: 15px;
  }

  .con_4_5 {
    position: absolute;
    top: 1120px;
    left: 15px;
  }
}

/* 섹션4하는중 */

.section_5{
  position: relative;
  width: 100%;
  padding-top: 166%;
  background-color: #0f3e97;
  overflow: hidden;
}

.sec_5_title h3{
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 26px;
  font-weight: 600;
  color: white;
  letter-spacing: -2px;
}

.sec_5_con_wrap{
  position: absolute;
  top: 156px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  object-fit: cover;
  /* padding: 156px 27px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 21px;
  row-gap: 18px;
}

/* 섹션5끝 */

.section_6{
  padding-top: 80px;
  margin: 0 auto;
  max-width: 480px;
}

.sec_6_title h3{
  transform: translateX(45%);
  font-size: 26px;
  font-weight: 600;
  color: #0a1d36;
  letter-spacing: -2px;
}

.sec_6_news{
  padding-top: 50px;
}

.sec_6_con_wrap{
  padding-bottom: 20px;
}

.news a{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
}

.news_title_wrap{
  display: flex;
  flex-direction: column;
  gap: 26%;
}

.news_title_wrap h4{
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -1px;
}


.day{
  /* width: 100%; */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 125px;
  /* padding-top: 10%; */
}

.date{
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
  color: #acacac;
}

.day img{
  width: 30px;
}

.news_line{
  margin-top: 12px;
  border: 1px solid #0c3c78;
  opacity: 0.2;
}

.sec_6_btn{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.sec_6_btn_box a{
  padding: 15.5px 30px;
  margin: 0 auto;
  background-color: #0f3e97;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: white;
}


@media (min-width: 480px) {
  .news_title_wrap h4{
    margin-bottom: 45px;
  }
}



footer{
  height: 183px;
  margin-top: 100px;
  background-color: #0f3e97;
}


@media (min-width: 480px) {
  footer {
    height: 210px;
  }
}