@import url(reset.css);
@import url(common.css);

.navigation_wrap {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 16px;
  padding: 0 18px;
  max-width: 480px;
  margin: 0 auto;
  width: 100%;
}

.navigation_menu {
  display: flex;
  gap: 8px;
  width: 100%;
  align-items: center;
}

/* 각 메뉴 박스를 flex로 균등 분배 */
.na_con {
  flex: 1 1 0; /* grow, shrink, basis */
  display: flex;
  justify-content: center;
}

.na_con a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000;
  width: 100%; /* 부모 flex 크기에 맞춤 */
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
  color: #11388f;
}

.circle {
  /* background: rgba(255,255,255,0.72); */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.45);
  position: relative;
  /* top: -25px; 살짝 위로 떠 있게 */
  width: 70px;
  height: 70px;
  background: linear-gradient(145deg, #ffffff, #eaf4ff);
  border-radius: 50%;
  /* box-shadow: 
    0 6px 16px rgba(0, 0, 0, 0.25), 
    inset 0 3px 6px rgba(255, 255, 255, 0.8); */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.reservation {
  /* position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  font-weight: 600;
  row-gap: 6px;
}

.reservation p {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
  color: #11388f;
}

.home {
  padding: 6px 14px;
}

.ho_me {
  padding: 2px 0 2px 0;
}

.my_page {
  padding: 6px 7px 6px 0;
}

.mo_re {
  padding-right: 10px;
}

.na_con svg {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
}

.na_con p {
  margin: 0;
  font-size: 12px;
}

.mypage {
  width: 60px;
}

.more {
  width: 38px;
}

/* 내비게이션아이콘바꾸기 */

header {
  /* position: fixed;
  z-index: 500;
  background-color: white; */
  max-width: 480px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 50%;
}

/* 헤더끝 */

.section_1 {
  width: 100%;
  height: 600px;
  position: relative;
}

.sec_1_con {
  width: 93%;
  height: 63%;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 17px;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.con_1 {
  height: 100%;
  padding: 15px;
}

.con_1_1 {
  padding: 18px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(217, 217, 217, 0.5);
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 15px;
}

.con_1_1 .left {
  display: flex;
  align-items: center;
  gap: 14px; /* 달력 아이콘과 글자 간격 조절 */
}

.con_1_1 p {
  font-size: 14px;
  font-weight: 400;
  color: #b9b9b9;
}

.sec_1_btn {
  /* padding-top: 15px; */
  display: flex;
  /* background-color: aqua; */
  gap: 15px;
}

.schedule {
  flex: 1;
  height: 57px;
  border-radius: 10px;
  background-color: #0f3e97;
  font-size: 13px;
  font-weight: 600;
  border: unset;
  color: white;
  padding: 0 30px;
  cursor: pointer;
}
.agency {
  flex: 1;
  height: 57px;
  border-radius: 10px;
  background-color: #ffbe3d;
  font-size: 13px;
  font-weight: 600;
  border: unset;
  color: white;
  padding: 0 30px;
  cursor: pointer;
}

/* 섹션1 */

.section_2 {
  padding-top: 230px;
}

.sec_2_title h3 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 35px;
  color: #0a1d36;
}

.travel_con {
  margin-top: 40px;
}

.travel_box {
  width: 66.41%;
  height: 100%;
  border: 0.5px solid #d9d9d9;
  border-radius: 16px;
}

.travel_write {
  padding: 15px 25px 15px 15px;
}

.travel_write p {
  font-size: 10px;
  font-weight: 500;
  color: #b9b9b9;
  letter-spacing: -1px;
}

.travel_write h3 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 26px;
}

.travel_write h4 {
  font-size: 12px;
  font-weight: 500;
  color: #939393;
  padding-top: 10px;
  letter-spacing: -1px;
  line-height: 19px;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 17px;
} */

/* 섹션2 그림자가 걸림 */

.section_3 {
  position: relative;
  height: 98vh;
  padding-top: 80px;
  /* padding-bottom: 80px; */
}

.sec_3_write {
  position: absolute;
  /* bottom: 200px; */
  left: 0;
  padding-bottom: 80px;
}

.sec_3_write h4 {
  font-family: "Inknut Antiqua", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  color: #0a1d36;
}

.line {
  width: 3px; /* 선 두께 */
  height: 56px; /* 선 길이 */
  background: #0a1d36; /* 선 색상 */
  margin: 12px 0; /* 상하 여백 */
  border-radius: 2px;
}

.sec_3_write p {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: #0a1d36;
  opacity: 0.5;
}

@media (min-width: 480px) {
  .section_3 {
    height: 110vh;
  }
}

/* 섹션3끝 */

.section_4 {
  padding-top: 80px;
  position: relative;
  width: 100%;
  height: 1500px;
  background: url(../img/section_4/background.png) no-repeat center / cover;
}

.sec_4_title {
  width: 100%;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  color: #06162b;
}

.sec_4_con_wrap {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.lines img {
  width: 48px;
  height: auto;
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
}

.sec_4_cons img {
  width: 169px;
  height: auto;
}

.sec_4_con {
  position: relative;
}

.con_4_1 {
  position: absolute;
  top: 264px;
  left: 8px;
}

.title_4_1 {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

.con_4_title h4 {
  width: 120px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -1px;
  line-height: 16px;
  color: white;
}

.con_4_2 {
  position: absolute;
  top: 490px;
  right: 8px;
}

.title_4_2 {
  position: absolute;
  top: 155px;
  left: 50%;
  transform: translateX(-50%);
}

.con_4_3 {
  position: absolute;
  top: 700px;
  left: 8px;
}

.con_4_4 {
  position: absolute;
  top: 920px;
  right: 8px;
}

.con_4_5 {
  position: absolute;
  top: 1120px;
  left: 8px;
}

@media (min-width: 480px) {
  .sec_4_cons img {
    width: 200px;
    height: auto;
  }

  .con_4_1 {
    position: absolute;
    top: 264px;
    left: 15px;
  }

  .title_4_1 {
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
  }

  .con_4_2 {
    position: absolute;
    top: 490px;
    right: 15px;
  }

  .title_4_2 {
    position: absolute;
    top: 185px;
    left: 50%;
    transform: translateX(-50%);
  }

  .con_4_3 {
    position: absolute;
    top: 700px;
    left: 15px;
  }

  .con_4_4 {
    position: absolute;
    top: 920px;
    right: 15px;
  }

  .con_4_5 {
    position: absolute;
    top: 1120px;
    left: 15px;
  }
}

/* 섹션4하는중 */

.section_5 {
  position: relative;
  width: 100%;
  padding-top: 166%;
  background-color: #0f3e97;
  overflow: hidden;
}

.sec_5_title h3 {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 26px;
  font-weight: 600;
  color: white;
  letter-spacing: -2px;
}

.sec_5_con_wrap {
  position: absolute;
  top: 156px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  object-fit: cover;
  /* padding: 156px 27px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  row-gap: 24px;
}

/* 섹션5끝 */

.section_6 {
  padding-top: 80px;
  margin: 0 auto;
  max-width: 480px;
}

.sec_6_title h3 {
  transform: translateX(45%);
  font-size: 26px;
  font-weight: 600;
  color: #0a1d36;
  letter-spacing: -2px;
}

.sec_6_news {
  padding-top: 50px;
}

.sec_6_con_wrap {
  padding-bottom: 12px;
}

.news a {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
}

.news_title_wrap {
  display: flex;
  flex-direction: column;
  gap: 26%;
}

.news_title_wrap h4 {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -1px;
}

.day {
  /* width: 100%; */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 125px;
  /* padding-top: 10%; */
}

.date {
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
  color: #acacac;
}

.day img {
  width: 30px;
}

.news_line {
  margin-top: 12px;
  width: 100%;
  height: 1px;
  background: #0c3c78;
  transform: scaleY(0.5); /* 세로로 50% 축소 */
  transform-origin: bottom;
  /* box-shadow: 0 0.5px 0 0 #0c3c78; */
  /* border: 0.2px solid #0c3c78; */
  opacity: 0.2;
}

.sec_6_btn {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.sec_6_btn_box a {
  padding: 15.5px 50px;
  margin: 0 auto;
  background-color: #0f3e97;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

@media (min-width: 480px) {
  .news_title_wrap h4 {
    margin-bottom: 45px;
  }
}
/* 섹션6끝 */

/* 푸터시작 */

footer {
  height: 183px;
  margin-top: 100px;
  background-color: #0f3e97;
}

.footer_logo {
  width: 30%;
  margin: 0 auto;
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

.footer_con {
  padding-top: 25px;
}

.footer_con p {
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  color: white;
}

.footer_sns {
  width: 100%;
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

.footer_copy {
  padding-top: 30px;
}

.footer_copy p {
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: -1px;
  color: white;
  opacity: 0.3;
}

@media (min-width: 480px) {
  footer {
    height: 210px;
  }

  .footer_logo {
    padding-top: 30px;
  }

  .footer_con {
    padding-top: 30px;
  }

  .footer_con p {
    font-size: 12px;
  }

  .footer_sns {
    padding-top: 30px;
  }

  .footer_copy {
    padding-top: 50px;
  }

  .footer_copy p {
    font-size: 11px;
  }
}
